PRIVATE_KEY=your_metamask_private_key_here
POLYGON_MUMBAI_RPC=https://rpc-mumbai.maticvigil.com
POLYGON_RPC=https://polygon-rpc.com
WEB3_STORAGE_TOKEN=your_web3_storage_token_here
VITE_CONTRACT_ADDRESS=will_be_filled_after_deploy
